.lot-wrapper {
    width: 70%;
    margin: 0 auto;
}

.lot-image-wrapper {
    display: inline-block;
    padding: 0 1rem;
}

.lot-image {
    background: url("/images/plywood_placeholder.jpg");
    background-size: auto;
    width: 26rem;
    height: 28rem;
    background-size: contain;
    display: inline-block;
}

.lot-right-block {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 60%;
}

.lot-description {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
}

.lot-buy-block {
    display: inline-block;
    padding: 1rem;
    border: 2px solid rgba(0,0,0,0.25);
}

.lot-price {
    margin-top: 0.5rem;
}

.lot-buy-button {
    background: #8a7251;
    font-size: 25px;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 4rem;
    transition: 0.3s;
    cursor: pointer;
}

.lot-buy-button:hover {
    background: #6c593e;
}

.lot-buy-block-spring {
    height: 1rem;
}

.lot-name {

}
